/* Intro.css */

body {
  background: aliceblue;
}

#pageTitle {
  background: lightsteelblue;
}

.navigation {
  background: lightsteelblue;
}

.demo {
  background: lightsteelblue;
  display: inline-block;
  overflow: auto;
  vertical-align: top;
}

.button {
  background: lightsteelblue;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

div.PathText {
  color: #003399;
  font-family: Verdana, Tahoma, Arial, Sans-Serif;
  font-size: 9pt;
  padding-left: 10px;
  padding-top: 5px;
}

.button:hover {
  background-color: #85C1E9;
}

